**/__pycache__/
**/migrations/
**/staticfiles/
**/db.sqlite3
**/venv/
**/env/
**/env.bak/
**/env.local/
**/env.development.local/
**/env.test.local/
**/env.production.local/
**/node_modules/
**/dist/
**/build/
**/develop-eggs/
**/downloads/
**/eggs/
**/lib64/
**/parts/
**/sdist/